@font-face{
    font-family: PopLight;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face{
    font-family: PopMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face{
    font-family: PopRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: PopRegular;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.5s;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.5s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.5s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/bannerFakeNews.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.banner h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 1em;
}

.banner h2 span{
    color: rgb(255, 0, 0);
}

.sec{
    background: #111;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}

h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #1ed760;
    text-decoration: none;
    color: #111;
    border-radius: 15px;
}

.services{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box{
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
    max-width: 100px;
    margin-bottom: 15px;
}
.services .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #111;
}

.services .box p{
    color: #111;
}