<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/style.css")}}">
    <!--Add link-->
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img/logo192.png')}}">
    <title>Tantei | 探偵</title>
</head>
<body>

    <header id="header">
        <a href="/" class="logo">Tantei | 探偵</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/tantei">Try it</a></li>
            <li><a href="#info">Info</a></li>
        </ul>
    </header>

    <section class="banner" id="home">
        <h2>Welcome to Tantei |<span> 探偵 </span></h2>
    </section>

    <section class="sec" id="about">
        <div class="content">
            <div class="mxw800p">
                <h3>About</h3>
                <!--Place Tantei logo image-->
                <img src="{{url_for('static', filename='img/Tantei.png')}}" alt="Tantei"/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nihil molestias eius repellendus, fugit quia inventore sint. Illo culpa, fugit sunt doloremque pariatur harum? Quas sapiente laborum aliquam ducimus sint.
                </p>
                <a href="/tantei" class="btn">Try it</a>
            </div>
        </div>
    </section>

    <section class="sec" id="info">
        <div class="content">
            <div class="mxw800p">
                <h3>Info</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nihil molestias eius repellendus, fugit quia inventore sint. Illo culpa, fugit sunt doloremque pariatur harum? Quas sapiente laborum aliquam ducimus sint.
                </p>
                <div class="services">
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/pythonLogo.png')}}" alt="Python">
                        </div>
                        <div class="content">
                            <h2>Model</h2>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Quidem cupiditate magni, unde ullam necessitatibus distinctio 
                                id blanditiis molestiae delectus optio recusandae ea. 
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/database.png')}}" alt="Python">
                        </div>
                        <div class="content">
                            <h2>Data</h2>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Quidem cupiditate magni, unde ullam necessitatibus distinctio 
                                id blanditiis molestiae delectus optio recusandae ea. 
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/jupyterLogo.png')}}" alt="Python">
                        </div>
                        <div class="content">
                            <h2>Analysis</h2>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Quidem cupiditate magni, unde ullam necessitatibus distinctio 
                                id blanditiis molestiae delectus optio recusandae ea. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer section-->


    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>

</body>
</html>