<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/style.css")}}">
    <!--Add link-->
    <script src="https://use.fontawesome.com/3472973aa5.js"></script>
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img/logo192.png')}}">
    <title>Tantei | 探偵</title>
</head>
<body>

    <header id="header">
        <a href="/" class="logo">Tantei | 探偵</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/tantei">Try it</a></li>
            <li><a href="#info">Info</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>

    <section class="banner" id="home">
        <h2>Welcome to Tantei |<span> 探偵 </span></h2>
    </section>

    <section class="sec" id="about">
        <div class="content">
            <div class="mxw800p">
                <h3>About</h3>
                <!--Place Tantei logo image-->
                <img src="{{url_for('static', filename='img/Tantei.png')}}" alt="Tantei"/>
                <p>
                    Tantei is a website designed to detect fake news of your interest. 
                    To test it press the button and try the magic.
                </p>
                <a href="/tantei" class="btn">Try it</a>
            </div>
        </div>
    </section>

    <section class="sec contact" id="info">
        <div class="content">
            <div class="mxw800p">
                <h3>Info</h3>
                <p>
                    To learn more about the development of the project, you can visit the content in the following links
                </p>
                <div class="services">
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/python-logo.png')}}" width="100" height="100" alt="Python">
                        </div>
                        <div class="content">
                            <h2>Tools</h2>
                            <p>
                                Some of the tools we used for the development of our 
                                website as well as the classifier were: 
                                Python, Flask and the scikit-learn library.
                            </p>
                            <a href="https://github.com/SebastianMM-96/tantei" target="_blank" class="btn">View More</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/database.png')}}" alt="Dataset">
                        </div>
                        <div class="content">
                            <h2>Dataset</h2>
                            <p>
                                The dataset was retrieved from Kaggle. 
                                This dataset consists of two files of type CSV, which contain types of 
                                real news and fake news respectively.
                            </p>
                            <a href="https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset" target="_blank" class="btn">View More</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/jupyterLogo.png')}}" alt="Jupyter">
                        </div>
                        <div class="content">
                            <h2>Machine Learning Model</h2>
                            <p>
                                We create a fake news classifier using NLP 
                                techniques and machine learning models.
                                Some of the models implemented were: 
                                logistic regression, decision trees, naïve bayes, etc.
                            </p>
                            <a href="https://github.com/SebastianMM-96/fake-news/blob/main/fake-news-models/fake_news_classifier.ipynb" target="_blank" class="btn">View More</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="iconBx">
                            <img src="{{url_for('static', filename='img/documentation.png')}}" alt="Documentation">
                        </div>
                        <div class="content">
                            <h2>Documentation</h2>
                            <p>
                                Part of the documentation for this 
                                work is written in Spanish, but it will be stored in a GitHub repository.
                            </p>
                            <a href="#" class="btn">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer section-->
    <section class="sec" id="contact">
        <div class="content">
            <div class="mxw800p">
                <h3>Follow us</h3>
                <p>For more information visit the repository that we have dedicated to this project.</p>
            </div>
            <!--Buttons-->
            <div class="sci">
                <ul>
                    <li><a href="https://github.com/SebastianMM-96/tantei" target="_blank"><img src="{{url_for('static', filename='img/GitHub.png')}}" alt="github-logo"></a></li>
                </ul>
            </div>
            <p class="copyright">Design & Developed by <a href="https://github.com/SebastianMM-96" target="_blank">Sebastián Marroquín</a></p>
        </div>
    </section>

    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>

</body>
</html>