<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/tantei.css")}}">
        <!--Add link-->
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img/logo192.png')}}">
    <title>Tantei | 探偵</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Tantei | 探偵</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tantei">Try again</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <h2 class="text-center">News classification using ML</h2>
    </div>

    <div class="container">
        <form action="{{url_for('predict')}}" method="POST">
            <label for="message">Type text news</label>
            <textarea id="message" name="message" placeholder="Write the news.." style="height:200px"
                required></textarea>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-success" value="predict">Predict</button>
            </div>
        </form>
    </div>

    <div class="container-sm">

        {% if prediction  == 1 %}
        <div class="alert alert-success text-center">
            <strong><i class="far fa-check-circle"></i></strong> Great, the news is real.
        </div>

        {% elif prediction == 0 %}
        <div class="alert alert-danger text-center">
            <strong><i class="fas fa-robot"></i></strong> Be careful, this news turned out to be false. Check your sources.
        </div>
        
        {% endif %}
    
    </div>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

</body>

</html>